body{
  margin:0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 2em;
  background: rgb(236, 244,255);
}

.container{
  width: 80%;
  margin: 0 auto;

}

main{
  display: grid;
  grid-template-columns: repeat(3,auto);
  grid-gap: 4em;
  margin-top: 2em;
}

section{
  display: grid;
  grid-template-columns: repeat(2,auto);
  grid-gap: 4em;
  margin-top: 2em;
}

image{
  display: grid;
  grid-template-columns: repeat(1,auto);
  grid-gap: 4em;
  margin-top: 2em;
  
}


.card{
  background: white;
  padding: 1.5em;
  border-radius: .9em;
 -webkit-box-shadow: 49px 10px 11px 0px rgba(148,52,148,1);
-moz-box-shadow: 49px 10px 11px 0px rgba(148,52,148,1);
box-shadow: 49px 10px 11px 0px rgba(148,52,148,1);
}

.imagecard{
  background: white;
  padding: 1.5em;
  border-radius: 10em;
  box-shadow: 0 20px 30px 10px rgba(165, 19, 19, 0.1);
}